<div id="about" class="page">
    <div class="container">
        <div class="sixteen columns">
            <h1>Sobre Nós</h1>
            <div class="one-text">
                <p>Sci-Monkey é um trabalho de Carla Cursino, Doutoranda em Engenharia da Computação e do Prof. Dr. Rubens Marinho ambos do Instituto Tecnológico de Aeronáutica - ITA. Nosso objetivo é ensinar e divulgar a ciência para crianças, jovens e adultos de qualquer idade. Participamos e realizamos eventos voltados à ciência em diversas frentes como astronomia, física, química entre outras.</p>
            </div>
        </div>
        <div class="one-third column">
            <div class="img-wrp">
                <img alt="" class="scaleimg" src="/static/images/team/rubens.jpg" />
                <div class="overlay-wrp">
                    <div class="overlay"></div>
                    {{!-- <ul class="social-icons overlay-content">
                        <li><a href="/"><i class="icon-twitter"></i></a></li>
                        <li><a href="/"><i class="icon-linkedin"></i></a></li>
                    </ul> --}}
                </div>
            </div>
            <h3>Prof. Dr. Rubens Marinho</h3>
            <p class="job-position">Chief Executive Officer</p>
            <p class="description">Iniciou seus estudos em Engenharia Eletrônica no Instituto Tecnológico de Aeronáutica - ITA em 1974 e em 1976 transferiu-se para o Instituto de Física da Universidade de São Paulo tendo concluído seu Bacharelado em Física em 1978, possui doutorado em Física pela Universidade de São Paulo em 1983. Fez seu pós-doutorado na Université de Paris XI - Centre dOrsay de 1985 a 1986.  Atualmente é pesquisador do Instituto Tecnológico de Aeronáutica. Tem experiência na área de Física, com ênfase em Teoria Quântica de Campos, Relatividade Geral e Astrofísica Estelar.</p>
        </div>
        <div class="one-third column">
            <div class="img-wrp">
                <img alt="" class="scaleimg" src="/static/images/team/carla.jpg" />
                <div class="overlay-wrp">
                    <div class="overlay"></div>
                    {{!-- <ul class="social-icons overlay-content">
                        <li><a href="/"><i class="icon-twitter"></i></a></li>
                        <li><a href="/"><i class="icon-linkedin"></i></a></li>
                    </ul> --}}
                </div>
            </div>
            <h3>Ma. Carla Cursino</h3>
            <p class="job-position">Creative Director</p>
            <p class="description">Doutoranda no Instituto Tecnológico de Aeronáutica - ITA em Engenharia da Computação na Área Informática, Mestrado em Física na Área Atômica e Molecular - ITA, também jornalista que atualmente se dedica à divulgação científica com projetos institucionais, educacionais e sazonais em diversas áreas de interesse como astronomia, física, química e outras ciências e tecnologias.</p>
        </div>
        <div class="one-third column">
            <div class="img-wrp">
                <img alt="" class="scaleimg" src="/static/images/team/malheiro.jpg" />
                <div class="overlay-wrp">
                    <div class="overlay"></div>
                    {{!-- <ul class="social-icons overlay-content">
                        <li><a href="/"><i class="icon-twitter"></i></a></li>
                        <li><a href="/"><i class="icon-linkedin"></i></a></li>
                    </ul> --}}
                </div>
            </div>
            <h3>Prof. Dr. Manuel Malheiro</h3>
            <p class="job-position">Operations Director</p>
            <p class="description">Possui graduação em Bacharelado em Física pela Universidade de São Paulo (1981), mestrado em Física pela Universidade de São Paulo (1985) , doutorado em Física pela Universidade de São Paulo (1991), pós-doutorado pela Universidade Estadual Paulista Júlio de Mesquita Filho (1991) e pós-doutorado pela University of Maryland, College Park, E.U.A. (1996-1997). Realizou um Estágio Sénior de Pesquisa no Exterior, em Astrofísica Relativística, na Università degli Studi di Roma "La Sapienza" (2010/11). Foi professor do Instituto de Física da Universidade Federal Fluminense desde 01/1992, categoria de professor Associado I desde 12/2006, e esteve cedido ao Instituto Tecnológico de Aeronáutica de Março de 2005 a Agosto de 2008 para colaboração técnica e científica.</p>
        </div>
        <div class="sixteen columns">
            <div class="info-block" style="margin-top:60px">
                <div class="ib-text">
                    <h3><span class="color-text">AGORA!</span> Sci-Monkey: A evolução da ciência</h3>
                    <p>Processos de ensinar e aprender</p>
                    <a href="/" target="_blank" class="button">Veja</a>
                </div>
            </div>
        </div>
    </div>
</div>