<div id="contact">
    <div class="pattern"></div>
    <div class="container">
        <div class="sixteen columns">
            <div class="card">
                <h1 class="white">Fale conosco</h1>
                <div class="js-tabs">
                    <ul class="contact-tabs">
                        {{!-- <li><a href="/" class="active-tab current">Contato</a></li>
                        <li><a href="/">Mapa</a></li> --}}
                        <li><a href="/" class="active-tab current">Mapa</a></li>
                        <li><a href="/">Mensagem</a></li>
                    </ul>
                    <div class="tab-content-wrp">
                        {{!-- <div class="lines tab-content active">
                            <p><a href="/">cursino@ita.br</a><br/>+44 123-456-7890, 321-654-0987</p>
                            <p class="adress">77a First Street, London, BC1A 4RT, United Kingdom</p>
                        </div> --}}
                        <div class="lines tab-content active">
                            <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=pt&amp;geocode=&amp;q=london&amp;sll=37.0625,-95.677068&amp;sspn=60.288153,103.095703&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%9B%D0%BE%D0%BD%D0%B4%D0%BE%D0%BD,+%D0%92%D0%B5%D0%BB%D0%B8%D0%BA%D0%BE%D0%B1%D1%80%D0%B8%D1%82%D0%B0%D0%BD%D0%B8%D1%8F&amp;t=m&amp;ll=51.523324,-0.152864&amp;spn=0.018691,0.060081&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
                        </div>
                        <div class="lines tab-content">
                            <div class="result"></div>
                            <form class="well">
                                <div class="row">
                                    <div class="span2 pull-left">
                                        <input type="text" name="name" placeholder="Nome">
                                        <input type="text" name="email" placeholder="E-mail">
                                        <input type="text" name="subject" placeholder="Assunto">
                                    </div>
                                    <div class="span6 pull-right">
                                        <textarea class="span6" rows="4" name="message" placeholder="Mensagem"></textarea>
                                        <button type="submit" class="button"><i class="icon-envelope-alt"></i> Envie sua Mensagem</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <ul class="contact-social-icons">
                    {{!-- <li><a href="/"><i class="icon-facebook"></i></a></li> --}}
                    <li><a href="/"><i class="icon-twitter"></i></a></li>
                    <li><a href="/"><i class="icon-vimeo"></i></a></li>
                    <li><a href="/"><i class="icon-youtube"></i></a></li>
                    {{!-- <li><a href="/"><i class="icon-pinterest"></i></a></li> --}}
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>© 2020 Cursino studio. <a href="/">Scimonkey Template</a> by <a href="/">Cursino</a>.</p>
    </div>
</div>