<meta charset="UTF-8">
<title>{{site.title}}</title>
<meta name="description" content="{{site.description}}">
<meta name="author" content="{{site.author}}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link href='http://fonts.googleapis.com/css?family=Oswald|Open+Sans:400,600' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="/static/css/skeleton.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/supersized.css">
<link rel="stylesheet" href="/static/css/supersized.shutter.css">
<link rel="stylesheet" href="/static/css/jquery.fancybox.css">
<link rel="stylesheet" href="/static/css/font-awesome.css">
<link rel="stylesheet" href="/static/css/flexslider.css">
<link rel="stylesheet" href="/static/css/media.css">