<div id="homepage">
    <div class="container">
        <div class="sixteen columns">
            <img alt="" class="logo" src="{{config.cms.logo}}" />
        </div>
        <div class="slider-text">
            <div class="sixteen columns">
                <div class="line"></div>
            </div>
            <div class="twelve columns">
                <div id="slidecaption"></div>
            </div>
            <div class="four columns">
                <a id="prevslide" class="load-item"><i class="icon-chevron-left"></i></a>
                <a id="nextslide" class="load-item"><i class="icon-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>