<nav>
    <div class="container">
        <div class="thirteen columns">
            <ul id="nav" class="links">
                <li class="current"><a href="/#about">Conheça</a></li>
                <li><a href="/#culture">Filosofia</a></li>
                {{!-- <li><a href="/#services">Services</a></li> --}}
                <li><a href="/#portfolio">Cursos</a></li>
                <li><a href="/blog">Eventos</a></li>
                <li><a href="/#contact">Contato</a></li>
                <li><a class="to-top" href="/#homepage"><i class="icon-chevron-up"></i><span>Home</span></a></li>
            </ul>
        </div>
        <div class="three columns">
            <ul class="social-icons">
                {{!-- <li><a href="/"><i class="icon-facebook"></i></a></li>
                <li><a href="/"><i class="icon-twitter"></i></a></li>
                <li><a href="/"><i class="icon-vimeo"></i></a></li>
                <li><a href="/"><i class="icon-pinterest"></i></a></li> --}}
                <li><a href="http://www.instagram.com/scimonkey/"><i class="icon-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</nav>