<div id="parallax3">
    <div class="bg3"></div>
    <div class="pattern"></div>
    <div class="container">
        <div class="vertical-text">
            <h2 class="white">Parcerias</h2>
            <ul class="clients">
                <li>
                    <a href="/"><img alt="" src="/static/images/clients/logo1.png"></a>
                </li>
                <li>
                    <a href="/"><img alt="" src="/static/images/clients/logo2.png"></a>
                </li>
                <li>
                    <a href="/"><img alt="" src="/static/images/clients/logo3.png"></a>
                </li>
                <li>
                    <a href="/"><img alt="" src="/static/images/clients/logo4.png"></a>
                </li>
                <li>
                    <a href="/"><img alt="" src="/static/images/clients/logo5.png"></a>
                </li>
            </ul>
        </div>
    </div>
</div>