<div id="portfolio" class="page">
    <div class="container">
        <div class="sixteen columns">
            <h1>Cursos</h1>
            {{!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="/homepage">hendrerit dictum</a>. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p> --}}
            <hr>
        </div>
        <ul class="option-set" data-option-key="filter">
            <li><i class="icon-reorder"></i></li>
            <li><a class="selected" href="/filter" data-option-value="*"><span></span>Todas</a></li>
            <li><a href="/filter" data-option-value=".humanas"><span></span>Humanas</a></li>
            <li><a href="/filter" data-option-value=".exatas"><span></span>Exatas</a></li>
        </ul>
        <div id="portfolio_items" class="isotope">

            <div class="four columns item isotope-item exatas">
                <a href="/static/images/slider/slide1.jpg" class="fancybox" rel="group1" title="Astronomia">
                    <div class="img-wrp">
                        <img class="scaleimg" src="/static/images/portfolio/thumbs/astronomia.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum." />
                        <div class="overlay-wrp">
                            <i class="icon loupe overlay-content"></i>
                            <div class="overlay"></div>
                        </div>
                    </div>
                </a>
                <p class="project-title">Astronomia</p>
                <p class="project-description">Astronomia na vida cotidiana</p>
                <div class="hidden">
                    <a href="/static/images/slider/slide2.jpg" class="fancybox" rel="group1" title="Astronomia ontem"><img src="/static/images/portfolio/thumbs/astronomia.jpg" class="scaleimg" style="display:hidden;" alt="Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos."/></a>
                </div>
                <div class="hidden">
                    <a href="/static/images/slider/slide3.jpg" class="fancybox" rel="group1" title="Astronomia hoje"><img src="/static/images/portfolio/thumbs/biologia.jpg" class="scaleimg" style="display:hidden;" alt="Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos."/></a>
                </div>
                <div class="hidden">
                    <a href="/static/images/slider/slide4.jpg" class="fancybox" rel="group1" title="Astronomia amanhã"><img src="/static/images/portfolio/thumbs/computacao.jpg" class="scaleimg" style="display:hidden;" alt="Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos."/></a>
                </div>
            </div>

            <div class="four columns item isotope-item exatas">
                <a href="http://vimeo.com/50834315" class="fancybox-media" rel="group2" title="Biologia">
                    <div class="img-wrp">
                        <img class="scaleimg" src="/static/images/portfolio/thumbs/biologia.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum." />
                        <div class="overlay-wrp">
                            <i class="icon loupe overlay-content"></i>
                            <div class="overlay"></div>
                        </div>
                    </div>
                </a>
                <p class="project-title">Biologia</p>
                <p class="project-description">Ciência da Vida</p>
            </div>

            <div class="four columns item isotope-item exatas">
                <a href="#" class="fancybox" rel="gallery6" title="Computação">
                    <div class="img-wrp">
                        <img class="scaleimg" src="/static/images/portfolio/thumbs/computacao.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum." />
                        <div class="overlay-wrp">
                            <i class="icon loupe overlay-content"></i>
                            <div class="overlay"></div>
                        </div>
                    </div>
                </a>
                <p class="project-title">Computação</p>
                <p class="project-description">Programação é a solução</p>
            </div>

            <div class="four columns item isotope-item humanas">
                <a href="http://vimeo.com/53043267" class="fancybox-media" rel="group2" title="Filosofia">
                    <div class="img-wrp">
                        <img class="scaleimg" src="/static/images/portfolio/thumbs/filosofia.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum." />
                        <div class="overlay-wrp">
                            <i class="icon loupe overlay-content"></i>
                            <div class="overlay"></div>
                        </div>
                    </div>
                </a>
                <p class="project-title">Filosofia</p>
                <p class="project-description">A vida como ela é</p>
            </div>

            <div class="four columns item isotope-item exatas">
                <a href="http://vimeo.com/51460511" class="fancybox-media" rel="group7" title="Física">
                    <div class="img-wrp">
                        <img class="scaleimg" src="/static/images/portfolio/thumbs/fisica.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum." />
                        <div class="overlay-wrp">
                            <i class="icon loupe overlay-content"></i>
                            <div class="overlay"></div>
                        </div>
                    </div>
                </a>
                <p class="project-title">Física</p>
                <p class="project-description">Guia de usuário do Universo</p>
            </div>

            <div class="four columns item isotope-item humanas">
                <a href="#" class="fancybox" rel="group6" title="Geografia">
                    <div class="img-wrp">
                        <img class="scaleimg" src="/static/images/portfolio/thumbs/geografia.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum." />
                        <div class="overlay-wrp">
                            <i class="icon loupe overlay-content"></i>
                            <div class="overlay"></div>
                        </div>
                    </div>
                </a>
                <p class="project-title">Geografia</p>
                <p class="project-description">Como se achar no mundo</p>
            </div>

            <div class="four columns item isotope-item humanas">
                <a href="http://www.studioklass.ru/images/bg-body.jpg" class="fancybox" rel="group9" title="História">
                    <div class="img-wrp">
                        <img class="scaleimg" src="/static/images/portfolio/thumbs/historia.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum." />
                        <div class="overlay-wrp">
                            <i class="icon loupe overlay-content"></i>
                            <div class="overlay"></div>
                        </div>
                    </div>
                </a>
                <p class="project-title">História</p>
                <p class="project-description">De onde viemos e para onde vamos</p>
            </div>

            <div class="four columns item isotope-item humanas">
                <a href="http://vimeo.com/45725037" class="fancybox-media" rel="group7" title="Língua Portuquesa">
                    <div class="img-wrp">
                        <img class="scaleimg" src="/static/images/portfolio/thumbs/linguaportuguesa.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum." />
                        <div class="overlay-wrp">
                            <i class="icon loupe overlay-content"></i>
                            <div class="overlay"></div>
                        </div>
                    </div>
                </a>
                <p class="project-title">Língua Portuguesa</p>
                <p class="project-description">Como se explicar para as pessoas</p>
            </div>

            <div class="four columns item isotope-item exatas">
                <a href="http://vimeo.com/51621640" class="fancybox-media" rel="group9" title="Matemática">
                    <div class="img-wrp">
                        <img class="scaleimg" src="/static/images/portfolio/thumbs/matematica.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum." />
                        <div class="overlay-wrp">
                            <i class="icon loupe overlay-content"></i>
                            <div class="overlay"></div>
                        </div>
                    </div>
                </a>
                <p class="project-title">Matemática</p>
                <p class="project-description">A vida como deveria ser</p>
            </div>

            <div class="four columns item isotope-item exatas">
                <a href="/static/images/parallax/teaser1.jpg" class="fancybox" rel="group11" title="Química">
                    <div class="img-wrp">
                        <img class="scaleimg" src="/static/images/portfolio/thumbs/quimica.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum." />
                        <div class="overlay-wrp">
                            <i class="icon loupe overlay-content"></i>
                            <div class="overlay"></div>
                        </div>
                    </div>
                </a>
                <p class="project-title">Química</p>
                <p class="project-description">Misturando e criando para a vida</p>
            </div>

            <div class="four columns item isotope-item exatas">
                <a href="/static/images/parallax/teaser2.jpg" class="fancybox" rel="group11" title="Robótica">
                    <div class="img-wrp">
                        <img class="scaleimg" src="/static/images/portfolio/thumbs/robotica.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum." />
                        <div class="overlay-wrp">
                            <i class="icon loupe overlay-content"></i>
                            <div class="overlay"></div>
                        </div>
                    </div>
                </a>
                <p class="project-title">Robótica</p>
                <p class="project-description">A nova mão de obra</p>
            </div>

            <div class="four columns item isotope-item humanas">
                <a href="/static/images/parallax/teaser3.jpg" class="fancybox" rel="group11" title="Sociologia">
                    <div class="img-wrp">
                        <img class="scaleimg" src="/static/images/portfolio/thumbs/sociologia.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum." />
                        <div class="overlay-wrp">
                            <i class="icon loupe overlay-content"></i>
                            <div class="overlay"></div>
                        </div>
                    </div>
                </a>
                <p class="project-title">Sociologia</p>
                <p class="project-description">Vida na comunidade</p>
            </div>

        </div>
    </div>
</div>