<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<script src="/static/js/lib/contact.js" nonce="{{nonce}}"></script>
<script src="/static/js/lib/jquery.easing.min.js" nonce="{{nonce}}"></script>
<script src="/static/js/lib/jquery.fancybox.pack.js" nonce="{{nonce}}"></script>
<script src="/static/js/lib/jquery.fancybox-media.js" nonce="{{nonce}}"></script>
<script src="/static/js/lib/jquery.flexslider.js" nonce="{{nonce}}"></script>
<script src="/static/js/lib/jquery.isotope.min.js" nonce="{{nonce}}"></script>
<script src="/static/js/lib/jquery.parallax-1.1.3.js" nonce="{{nonce}}"></script>
<script src="/static/js/lib/jquery.smartresize.js" nonce="{{nonce}}"></script>
<script src="/static/js/lib/jquery.sticky.js" nonce="{{nonce}}"></script>
<script src="/static/js/lib/main.js" nonce="{{nonce}}"></script>
<script src="/static/js/lib/paralax-ini.js" nonce="{{nonce}}"></script>
<script src="/static/js/lib/scroll.js" nonce="{{nonce}}"></script>
<script src="/static/js/lib/selectnav.min.js" nonce="{{nonce}}"></script>
<script src="/static/js/lib/shortcodes.js" nonce="{{nonce}}"></script>
<script src="/static/js/lib/supersized.3.2.7.min.js" nonce="{{nonce}}"></script>
<script src="/static/js/lib/supersized.images.js" nonce="{{nonce}}"></script>
<script src="/static/js/lib/supersized.shutter.min.js" nonce="{{nonce}}"></script>

<script src="/static/js/core/nav.js" nonce="{{nonce}}"></script>
<script src="/static/js/core/isotope.js" nonce="{{nonce}}"></script>
<script src="/static/js/core/moveTo.js" nonce="{{nonce}}"></script>
<script src="/static/js/core/selectNav.js" nonce="{{nonce}}"></script>
<script src="/static/js/core/loading.js" nonce="{{nonce}}"></script>
<script src="/static/js/core/fancybox.js" nonce="{{nonce}}"></script>