<div id="parallax2">
    <div class="bg2"></div>
    <div class="pattern"></div>
    <div class="container">
        <div class="eleven columns">
            <div class="vertical-text">
                <p class="twitter-author"><a href="http://twitter.com/cursino" target="_blank">@cursino</a></p>
                <div id="lasttweet"></div>
                <img alt="" src="/static/images/social-icons/follow.png" style="margin-top: 36px;" />
            </div>
        </div>
    </div>
</div>
<div id="services" class="page">
    <div class="container">
        <div class="sixteen columns">
            <h1>Nossos Serviços</h1>
            <div class="one-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            </div>
        </div>
        <div class="service one-third column">
            <h3>Photographing</h3>
            <div class="icon" style="background-image: url(/static/images/icons/photo.png)"></div>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est.</p>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. </p>
        </div>
        <div class="service one-third column">
            <h3>Videographing</h3>
            <div class="icon" style="background-image: url(/static/images/icons/video.png)"></div>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        </div>
        <div class="service one-third column">
            <h3>Graphic Design</h3>
            <div class="icon" style="background-image: url(/static/images/icons/design.png)"></div>
            <p class="description">Nulla lacinia odio quis tellus malesuada quis pulvinar augue tincidunt. Quisque sit amet nunc enim. Vestibulum convallis odio fringilla lectus tincidunt bibendum. Aenean venenatis. Nullam imperdiet, est blandit tristique blandit, massa nunc fermentum eros, non ullamcorper dolor dolor at quam.</p>
        </div>
    </div>
</div>