<div id="parallax1">
    <div class="bg1"></div>
    <div class="pattern"></div>
    <div class="container">
        <div class="vertical-text">
            <p class="prlx-quote">A mente que se abre a uma nova idéia jamais volta ao seu tamanho original.</p>
            <div class="prlx-author">Albert Einstein</div>
        </div>
    </div>
</div>
<div id="culture" class="page">
    <div class="container">
        <div class="sixteen columns">
            <h1>Nossa Filosofia</h1>
            <div class="one-text">
                <p>É fazer com que os alunos pensem mais em ciência e tenham gosto de aprender de verdade de forma natural e sem estresse.</p>
            </div>
        </div>
    </div>
    <div class="full-width">
        <div class="container">
            <div class="sixteen columns">
                <div class="embed-container"><iframe src="http://player.vimeo.com/video/50834315?byline=0&amp;portrait=0&amp;badge=0&amp;color=b0b825" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="eight columns">
            <h4>Inovação</h4>
            <p>A construção desse portal Sci-Monkey na forma de domínio público, visa apresentar um material numa linguagem acessível para grande parte da nossa sociedade e que é uma saída interessante e viável para diminuir o enorme distanciamento entre professores e alunos de diversas partes do Brasil e do mundo.</p>
            <p>Tendo esse portal como forma de ensino e aprendizagem, acreditamos que podemos estreitar o relacionamento de alunos de todas as idades em geral.</p>
            <p>Aqui, o aluno será informado das atualizações disponíveis no portal, ao qual, poderá retornar sempre que desejar e se aprofundar mais sobre determinados tópicos.</p>
        </div>
        <div class="eight columns">
            <h4>Credibilidade</h4>
            <p>O portal Sci-Monkey apresenta uma linguagem sem obstáculos, com navegabilidade intuitiva, confiabilidade e credibilidade baseadas no suporte acadêmico de professores e pesquisadores do ITA. Tem como meta a contribuição para o desenvolvimento da educação científica no Brasil, em particular, focalizado nos campos do saber de diversas áreas.</p>
        </div>
    </div>
</div>