<div id="blog">
    <div class="container">
        <div class="twelve columns">
            <div class="post">
                <div class="post-title">
                    <a href="/post">Morbi suscipit interdum molestie. Aenean fringilla dui magna.</a>
                </div>
                <div class="post-text">
                    <p class="lead">A more flexible definition of shape takes into consideration the fact that realistic shapes are often deformable.</p>
                    <hr>
                    <p>Phasellus a nisi urna, facilisis facilisis diam. Vivamus enim ligula, sollicitudin nec porttitor nec, commodo vel justo. Nunc in mattis ipsum. Mauris accumsan pretium diam, sit amet iaculis purus ullamcorper ac. Donec pulvinar metus a ipsum varius suscipit. Mauris ut nisi at tortor molestie rhoncus ultrices quis nisi.</p>
                    <p>Morbi suscipit interdum molestie. Aenean fringilla dui magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est.</p>
                </div>
                <div class="post-tags">
                    <i class="icon-tags"></i>
                    <ul>
                        <li><a href="/blog">Graphic Design</a></li>
                        <li><a href="/blog">Photography</a></li>
                        <li><a href="/blog">Fashion</a></li>
                    </ul>
                </div>
                <div class="post-info">
                    Posted on September 24, 2013 by Alex Rudermann<span><a href="/post#comments">12 comments</a></span>
                </div>
            </div>
            <div class="post">
                <div class="post-title">
                    <a href="/post">Our favorite London office. Many photos.</a>
                </div>
                <div class="post-text">
                    <p class="lead">Mauris sagittis vehicula augue et rhoncus. Pellentesque rhoncus posuere nulla, sit amet euismod mi auctor quis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla facilisi. Nullam sodales nulla non est porttitor tempus.</p>
                    <hr>
                    <div class="post-image">
                        <img src="/static/images/blog/image1.jpg" alt="" class="scaleimg">
                        <div class="image-caption">Mauris sagittis vehicula augue et rhoncus. Pellentesque rhoncus posuere nulla, sit amet euismod mi auctor quis.</div>
                    </div>
                    <p>Phasellus a nisi urna, facilisis facilisis diam. Vivamus enim ligula, sollicitudin nec porttitor nec, commodo vel justo. Nunc in mattis ipsum. Mauris accumsan pretium diam, sit amet iaculis purus ullamcorper ac. Donec pulvinar metus a ipsum varius suscipit. Mauris ut nisi at tortor molestie rhoncus ultrices quis nisi.</p>
                    <p>Morbi suscipit interdum molestie. Aenean fringilla dui magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est.</p>
                </div>
                <div class="post-tags">
                    <i class="icon-tags"></i>
                    <ul>
                        <li><a href="/blog">Graphic Design</a></li>
                        <li><a href="/blog">Photography</a></li>
                        <li><a href="/blog">Fashion</a></li>
                    </ul>
                </div>
                <div class="post-info">
                    Posted on September 24, 2013 by Alex Rudermann<span><a href="/post#comments">12 comments</a></span>
                </div>
            </div>
            <div class="post">
                <div class="post-title">
                    <a href="/post">Morbi suscipit interdum molestie. Aenean fringilla dui magna.</a>
                </div>
                <div class="post-text">
                    <p class="lead">A more flexible definition of shape takes into consideration the fact that realistic shapes are often deformable.</p>
                    <hr>
                    <p>Phasellus a nisi urna, facilisis facilisis diam. Vivamus enim ligula, sollicitudin nec porttitor nec, commodo vel justo. Nunc in mattis ipsum. Mauris accumsan pretium diam, sit amet iaculis purus ullamcorper ac. Donec pulvinar metus a ipsum varius suscipit. Mauris ut nisi at tortor molestie rhoncus ultrices quis nisi.</p>
                    <p>Morbi suscipit interdum molestie. Aenean fringilla dui magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est.</p>
                </div>
                <div class="post-tags">
                    <i class="icon-tags"></i>
                    <ul>
                        <li><a href="/blog">Graphic Design</a></li>
                        <li><a href="/blog">Photography</a></li>
                        <li><a href="/blog">Fashion</a></li>
                    </ul>
                </div>
                <div class="post-info">
                    Posted on September 24, 2013 by Alex Rudermann<span><a href="/post#comments">12 comments</a></span>
                </div>
            </div>
            <div class="pagination">
                <a href="/blog" class="previous">Previous</a>
                <ul class="pages">
                    <li><a href="/blog">1</a></li>
                    <li><a href="/blog">2</a></li>
                    <li><a href="/blog" class="current">3</a></li>
                    <li><a href="/blog">4</a></li>
                    <li><a href="/blog">5</a></li>
                    <li><a href="/blog">6</a></li>
                </ul>
                <a href="/blog" class="next">Next</a>
            </div>
        </div>
        <div class="four columns">
            <div class="blog-sidebar">
                <div class="block tags">
                    <div class="block-title">Tags</div>
                    <ul class="tags-list">
                        <li><a href="/blog">Graphic Design</a> <sup>176</sup></li>
                        <li><a href="/blog">Photography</a> <sup>68</sup></li>
                        <li><a href="/blog">Fashion</a> <sup>64</sup></li>
                        <li><a href="/blog">Lifestyle</a> <sup>32</sup></li>
                        <li><a href="/blog">Video</a> <sup>13</sup></li>
                        <li><a href="/blog">Glamour</a> <sup>9</sup></li>
                    </ul>
                </div>
                <div id="twitterfeed" class="block"><a class="twitter-timeline" href="https://twitter.com/cursino" data-widget-id="347631015214317568">Tweets by @cursino</a>
                    <script>
                        ! function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0],
                                p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + "://platform.twitter.com/widgets.js";
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, "script", "twitter-wjs");
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>