<div id="about" class="page">
    <div class="container">
        <div class="sixteen columns">
            <h1>OOPS!</h1>
            <div class="one-text">
                <p>{{message}}</p>
            </div>
        </div>
    </div>
</div>