<div id="blog">
    <div class="container">
        <div class="twelve columns">
            <div class="post">
                <div class="post-title">
                    <a href="/post">Morbi suscipit interdum molestie. Aenean fringilla dui magna.</a>
                </div>
                <div class="post-text">
                    <p class="lead">A more flexible definition of shape takes into consideration the fact that realistic shapes are often deformable.</p>
                    <hr>
                    <p>Phasellus a nisi urna, facilisis facilisis diam. Vivamus enim ligula, sollicitudin nec porttitor nec, commodo vel justo. Nunc in mattis ipsum. Mauris accumsan pretium diam, sit amet iaculis purus ullamcorper ac. Donec pulvinar metus a ipsum varius suscipit. Mauris ut nisi at tortor molestie rhoncus ultrices quis nisi.</p>
                    <p>Morbi suscipit interdum molestie. Aenean fringilla dui magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est.</p>
                    <div class="slider">
                        <div class="flexslider">
                            <ul class="slides">
                                <li><img src="/static/images/blog/image2.jpg" alt=""></li>
                                <li><img src="/static/images/blog/image1.jpg" alt=""></li>
                                <li><img src="/static/images/blog/image3.jpg" alt=""></li>
                                <li><img src="/static/images/blog/image4.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                    <p>Phasellus a nisi urna, facilisis facilisis diam. Vivamus enim ligula, sollicitudin nec porttitor nec, commodo vel justo. Nunc in mattis ipsum. Mauris accumsan pretium diam, sit amet iaculis purus ullamcorper ac. Donec pulvinar metus a ipsum varius suscipit. Mauris ut nisi at tortor molestie rhoncus ultrices quis nisi.</p>
                    <p>Morbi suscipit interdum molestie. Aenean fringilla dui magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est.</p>
                </div>
                <div class="post-tags">
                    <i class="icon-tags"></i>
                    <ul>
                        <li><a href="/post">Graphic Design</a></li>
                        <li><a href="/post">Photography</a></li>
                        <li><a href="/post">Fashion</a></li>
                    </ul>
                </div>
                <div class="post-info">
                    Posted on September 24, 2013 by Alex Rudermann
                </div>
                <div class="comments" id="comments">
                    <div class="comments-title">12 comments</div>
                    <div class="comment" id="comment-1">
                        <div class="comment-author">Alexis Love</div>
                        <div class="comment-date">September 24, 2013</div>
                        <div class="comment-text">
                            <p>Phasellus a nisi urna, facilisis facilisis diam. Vivamus enim ligula, sollicitudin nec porttitor nec, commodo vel justo. Nunc in mattis ipsum. Mauris accumsan pretium diam, sit amet iaculis purus ullamcorper ac. Donec pulvinar metus a ipsum varius suscipit. Mauris ut nisi at tortor molestie rhoncus ultrices quis nisi.</p>
                        </div>
                    </div>
                    <div class="comment" id="comment-2">
                        <div class="comment-author">Alexis Love</div>
                        <div class="comment-date">September 24, 2013</div>
                        <div class="comment-text">
                            <p>Phasellus a nisi urna, facilisis facilisis diam. Vivamus enim ligula, sollicitudin nec porttitor nec, commodo vel justo. Nunc in mattis ipsum. Mauris accumsan pretium diam, sit amet iaculis purus ullamcorper ac. Donec pulvinar metus a ipsum varius suscipit. Mauris ut nisi at tortor molestie rhoncus ultrices quis nisi.</p>
                        </div>
                    </div>
                    <div class="leave-comment-title">
                        Leave a comment
                        <span>Your email address will not be published. Required fields are marked *.</span>
                    </div>
                    <form action="/wp-comments-post.php" method="post" id="commentform">
                        <label>Name <span style="color:red">*</span></label>
                        <input id="author" name="author" type="text" value="" aria-required="true">
                        <label>E-mail <span style="color:red">*</span></label>
                        <input id="email" name="email" type="text" value="" aria-required="true">
                        <label>Message <span style="color:red">*</span></label>
                        <textarea cols="40" rows="3" id="comment" name="comment" aria-required="true"></textarea>
                        <button type="submit" class="button">Send Comment</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="four columns">
            <div class="blog-sidebar">
                <div class="block tags">
                    <div class="block-title">Tags</div>
                    <ul class="tags-list">
                        <li><a href="/post">Graphic Design</a> <sup>176</sup></li>
                        <li><a href="/post">Photography</a> <sup>68</sup></li>
                        <li><a href="/post">Fashion</a> <sup>64</sup></li>
                        <li><a href="/post">Lifestyle</a> <sup>32</sup></li>
                        <li><a href="/post">Video</a> <sup>13</sup></li>
                        <li><a href="/post">Glamour</a> <sup>9</sup></li>
                    </ul>
                </div>
                <div id="twitterfeed" class="block"><a class="twitter-timeline" href="https://twitter.com/cursino" data-widget-id="347631015214317568">Tweets by @cursino</a>
                    <script>
                        ! function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0],
                                p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + "://platform.twitter.com/widgets.js";
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, "script", "twitter-wjs");
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>